body {
    background-color: bisque;
}

.container {
    background: #BFD8AF;
    height: 550px;
    padding: 10px;
    width: 400px;
}

.container-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 10px;
    border-top: 1px solid black;
    padding: 10px;
    
}

.container-2 {


}

.container-3 {

}
input{
    height: 20px;
    width: 230px;
    margin: 
}
.tutorial {
    background: pink;
}
.email {
    background: pink;
}