@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Lexend+Deca:wght@100..900&family=Manrope:wght@200..800&family=Orbitron:wght@400..900&family=Pixelify+Sans:wght@400..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body {
    gap: 10px;
}
p {
    font-size: 25px;
    font-weight: 800;
    font-family: "Pixelify Sans", sans-serif;
}
#caixa {
    font-family: "Pixelify Sans", sans-serif;
}
#botao {
    font-family: "Pixelify Sans", sans-serif;
    cursor: pointer;
    height: 24.4px;
}
input {
    height: 20px;
    font-family: "Pixelify Sans", sans-serif;
}


